
.font{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.bold{
  font-style: bold;
}

.blue{
  color: rgb(9, 9, 255);
}

.subtitle{
font-weight: 300;
margin-bottom: 0.625rem;
}

.center{
  text-align: center;
}

.right{
  justify-content: right;
}

.menu{
padding-top: 0.5rem;
padding-bottom: 0.5rem;
position: relative;
flex-wrap: wrap;
justify-content: space-between;
text-align: right;
}

.cont{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.description{
  background-color: rgb(78, 97, 105);
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  color: rgb(190, 195, 201);
  margin-left: 100px;
  margin-right: 100px;
}

.footer{
  text-align: center;
  font-style: bold;
}
 
  
 


